@use '../../Main' as *;

.h3 {
  margin-bottom: $spacing-xs;
}

.inputGroup {
  display: grid;
}

input {
  font-size: 12px;
  width: 100%;
  max-width: 400px;
  height: 44px;
  border: 1.9px solid $lightBackground;
  border-radius: 4px;
  margin-right: 5px;
}

.inputSlider {
  width: 100%;
  max-width: 380px;
  border: none;
  margin-top: $spacing-xxl;
  margin-bottom: $spacing-xs * 2;
  background-color: $lightgrey; /* Track background */
  height: 12px;
  margin-left: 20px;
  border-radius: 3px;

  /* Chrome, Safari, and Opera */
  -webkit-appearance: none;
  appearance: none;

  &::-webkit-slider-thumb {
    appearance: none;
    cursor: grabbing;
    background-color: $darkBackground;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &::-moz-range-thumb {
    cursor: grabbing;
    background-color: $darkBackground;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &::-moz-range-track {
    height: 12px;
    width: 100%;
    border-radius: 2px;
  }

  &:focus::-webkit-slider-thumb {
    background-color: $lightBackground;
  }

  &:focus::-moz-range-thumb {
    background-color: $lightBackground;
  }
}

.inputNumber {
  box-shadow: $lightShadow;
  padding-left: 8px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: $font-weight-large;
}

/* Remove arrows from input type number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}
