@import "../../Main";

.wrapper {
  display: grid;
  justify-content: center;
  max-width: 450px;
  margin-top: $spacing-xxl;
  color: $customYellow;

  .heading {
    font-weight: $font-weight-medium;
    line-height: 5%;
  }
}
