@use '../../Main' as *;

$fontPrimary: 'Red Hat Text', sans-serif;
$fontSecondary: 'Poppins', sans-serif;

.wrapper {
  display: grid;
  justify-content: center;
  max-width: 450px;
  color: $customYellow;
}

.amount {
  font-family: $fontSecondary;
  font-size: 32px;
  margin: 0;
  text-align: center;
}

.heading {
  font-family: $fontPrimary;
  font-size: 1.2rem;
  text-align: center;
  font-weight: $font-weight-large;
}
