@use "../../Main" as *;

.wrapper {
  display: grid;
  justify-content: center;
  background-color: $customBeige;
  padding: $spacing-xxl $spacing-lg $spacing-lg $spacing-lg;
  height: fit-content;

  .innerWrapper {
    max-width: 650px;
    display: grid;
    justify-content: center;

    .blogh2 {
      border: 1px solid red;
      height: fit-content;
    }
  }
}
