@import "../MainStyling/MainStyling";

$fontPrimary: "Red Hat Text", sans-serif;
$fontSecondary:  "Poppins", sans-serif;

.wrapper {
    color: $customYellow;
    justify-content: center;
    max-width: 450px;
    display: grid;
}



.amount {
  font-family: $fontSecondary;
  font-size: 32px;
margin: 0;
text-align: center;
}

h2 {
  font-family: $fontPrimary;
  line-height: 150%;
  font-size: 22.5px, 1.25rem;
}


.title {
  font-family: $fontPrimary;
  font-size: 1rem;
  text-align: center;

}



p {
  font-family: $fontPrimary;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
}

.smallerParagraph {
  font-family: $fontPrimary;
  font-size: 0.8rem;
  line-height: 150%;
  font-weight: 400;
}