@import "../MainStyling/MainStyling";

.wrapper {
  padding: $spacingFiftyPx $spacingThirtyPx $spacingThirtyPx $spacingThirtyPx;
  background-color: $darkBackground;
  display: grid;
  justify-content: center;

}
