@use "../../../Main" as *;

$fontPrimary: "Red Hat Text", sans-serif;
$fontSecondary: "Poppins", sans-serif;

.wrapper {
  display: grid;
  max-width: 450px;
  color: $customYellow;
}

.amount {
  font-family: $fontSecondary;
  font-size: 32px;
  margin: 0;
 
}

.heading {
  font-family: $fontPrimary;
  font-size: 1.2rem;
  font-weight: $font-weight-large;
}
