@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Red+Hat+Text:wght@500&display=swap");

/* Reset */
html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Colors */
$darkBackground: #376174;
$lightBackground: #5291a6;
$customYellow: #ffde9f;
$customBeige: #fdf9f2;
$lightgrey: #d9d9d9;

/* Shadows */
$lightShadow: 0 3px 5px 1px $lightgrey;

/* Spacing */
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 30px;
$spacing-xl: 40px;
$spacing-xxl: 50px;

/* Font Weights */
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-large: 700;

/* Typography */
h1,
.largeHeading {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  line-height: 150%;
}

h2 {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
}

h3 {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1rem;
  line-height: 150%;
}

h4 {
  font-size: 0.8rem;
  line-height: 150%;
  font-weight: $font-weight-medium;
}

p {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  font-weight: $font-weight-normal;
}

.smallerParagraph {
  font-family: "Red Hat Text", sans-serif;
  font-size: 0.8rem;
  line-height: 150%;
  font-weight: $font-weight-normal;
}
